<div class="wrapper fadeInDown" [ngStyle]="{'margin-top': '2%'}">
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element?.title.value}} </td>
            </ng-container>
          
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element?.category.value}} </td>
            </ng-container>
          
            <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef> Version </th>
              <td mat-cell *matCellDef="let element"> {{element?.version.value}} </td>
            </ng-container>
          
            <ng-container matColumnDef="dateReceived">
              <th mat-header-cell *matHeaderCellDef> Date received </th>
              <td mat-cell *matCellDef="let element"> {{element?.dateReceived.value | date:'medium'}} </td>
            </ng-container>
  
              <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element"> {{element?.state.value}} </td>
            </ng-container>
  
            <ng-container matColumnDef="html">
              <th mat-header-cell *matHeaderCellDef > HTML </th>
              <td mat-cell *matCellDef="let element"><a href = "http://localhost:8081/api/paper/getHtmlById/{{element.id}}"style="text-align: left;">Get HTML</a> </td>
            </ng-container>
  
            <ng-container matColumnDef="pdf">
              <th mat-header-cell *matHeaderCellDef > PDF </th>
              <td mat-cell *matCellDef="let element"><a href = "http://localhost:8081/api/paper/getPDFById/{{element.id}}"style="text-align: left;">Get PDF</a> </td>
            </ng-container>
  
            <ng-container matColumnDef="xml">
              <th mat-header-cell *matHeaderCellDef > XML </th>
              <td mat-cell *matCellDef="let element"><a href = "javascript:void(0);" (click)="download(element.id)" style="text-align: left;">Get XML</a> </td>
            </ng-container>
          
            <ng-container matColumnDef="reviewers">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> <a href = "javascript:void(0);" routerLink="/review/assign/{{element.id}}" style="text-align: left;">Add reviewers</a> </td>
              </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          </div>