<mat-toolbar color="primary" >
	<button mat-button [matMenuTriggerFor]="paper_menu">Paper</button>
	<mat-menu #paper_menu="matMenu">
		<button mat-menu-item routerLink="/paper/new">Publish</button>
		<button mat-menu-item routerLink="/paper/search">All papers</button>
		<span *ngIf = "auth.isLoggedIn()">
			<button mat-menu-item routerLink="/paper/byAuthor">My papers</button>
		</span>
		<span *ngIf = "auth.getRole() == 'ROLE_EDITOR'">
			<button mat-menu-item routerLink="/paper/submittedPapers">Submitted papers</button>
		</span>
	</mat-menu>
	<div style= "flex: 1 1 auto;">
	</div>
	<span *ngIf="!auth.isLoggedIn()">
	<button  mat-button [routerLink]="['/login']">Sign in</button>
	<button  mat-button [routerLink]="['/registration-author']">Register as author</button>
	<button  mat-button [routerLink]="['/registration-reviewer']">Register as reviewer</button>
	</span>	
	<span *ngIf="auth.isLoggedIn()">
		<button  mat-button (click)="logout()">Log out</button>
	</span>
</mat-toolbar>